$bg-menu:rgba(255, 255, 255, 0.11);
$color_black:#000000;
$hover-menu-item:#3998FF; 
$menu-bar-color:  #c2c2c2;
$color-white:#ffffff;
$color-arrow-bg:#f2d800;
$border-item-tab-images:#CBCBCB;
$active-item-tab:#3998FF;
$rate:#f2d800;
$border-bottom-tabs-title:#D8D8D8;
$color-tabs-title:#9F9F9F;
$color-change-txt:  #787878;
$bg-color-payment:#03A9F4;
$view-more:#00b0ff;

$latest-item-hover:#0022ff;
$bg-btn-viewall:#00b0ff;
$bg-button:#00b0ff;